.vscode/settings.json
.vscode/tasks.json
Presence Exercises/W1
Week 1/Ass1.1.aux
Week 1/Ass1.1.fdb_latexmk
Week 1/Ass1.1.fls
Week 1/Ass1.1.log
Week 1/Ass1.1.synctex.gz
praeambel.aux
praeambel.fdb_latexmk
praeambel.fls
praeambel.log
praeambel.pdf
praeambel.synctex.gz
